* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 2000px;
}

/* COMMON */
a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  background: var(--primary-color);
  border-radius: 8px;
  padding: 18px 16px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

/* Tạo dấu 3 chấm nếu nội dung dài */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* =========== HEADER ============ */
.fixed-header {
  position: sticky;
  background-color: #e6f0ff;
  padding-top: 26px;
  top: -26px;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  color: #4f5361;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 14px;
}
.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .nav-actions {
  margin-left: auto;
}

.action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.action-btn {
  padding: 13px 16px;
  margin-left: 18px;
}

/* Hero-wrap */
.hero-wrap {
  /* Fix Collapse */
  display: flex;
  flex-direction: column;

  background-color: #e6f0ff;
  position: relative;
  height: calc(100vh - 90px);
}
.hero {
  margin-top: 130px;
}
.info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1;
  margin-bottom: 8px;
}
.hero .title {
  color: #000336;
  font-size: 6.15rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  width: 92.5%;
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.7rem;
  font-weight: 350;
  line-height: 1.78;
}
.hero-cti {
  margin-top: 40px;
  min-width: 17rem;
  border-radius: 12px;
}
.hero-img {
  position: absolute;
  bottom: 0px;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* =========== Clients============ */
.clients {
  margin-top: 79px;
  padding: 19px 0 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}
.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 15px;
}
.clients .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.clients .images a {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}
.clients .images a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* =========== Guides============ */
.guides {
  position: relative;
  margin-top: 40px;
  padding: 79px 0px;
}

.guides .sub-title {
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  margin-top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  max-width: 459px;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 350;
  line-height: 1.87; /* 187.5% */
  margin: 20px auto 0px;
}
/* List Guides */

.list-guide {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.guide-item {
  padding: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.guide-item a {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.arrow-right {
  margin-left: 8px;
}

.guide-cta {
  margin-top: 50px;
  text-align: center;
}

.guide-cta .btn {
  min-width: 170px;
  border-radius: 12px;
}

/* ============ Featured =========== */
.featured {
  margin-top: 41px;
  background: #f5fafe;
  padding: 110px 165px;
}
.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}

.featured .link {
  color: #0689ff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 500;
}
.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}
.featured .item {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  /* ảnh được lấp đầy khung và k bị méo */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 23px;
}

.featured .item .title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}
.featured .item .info {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  display: inline-block;
  margin-left: 6px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 400;
}

/* ============ Stats =========== */
.stats {
  padding: 96px 165px 81px;
}
.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .img-block {
  position: relative;
}

.stats .img-block .image {
  border-radius: 35px;
  display: block;
  margin-left: auto;
  width: 436px;
  height: 492px;
  object-fit: cover;
}
.stats .img-block .stats-trend {
  position: absolute;
  width: 260px;
  padding: 48px 24px;
  top: 0;
  left: 0;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}

.stats .img-block .stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1;
}
.stats .img-block .stats-trend .img-trend {
  margin-left: auto;
}
.stats .img-block .stats-trend .desc-trend {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.stats .img-block .stats-trend .separate {
  margin-top: 28px;
  height: 1.286px;
  background: #e9e9e9;
}

.stats .avatar-block {
  margin-top: 27px;
  display: flex;
  gap: 18px 16px;
  flex-wrap: wrap;
}
.stats .avatar-group {
  display: flex;
}
.stats .avatar-group .avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: -3px;
  object-fit: cover;
}
.stats .avatar-group .avatar:first-child {
  margin: 0;
}

.stats .info {
  padding: 85px 0 0 180px;
}

.stats .info .sub-title {
  position: relative;
  width: 294px;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
}
.stats .info .sub-title::before {
  position: absolute;
  content: "";
  width: 44.749px;
  height: 4.286px;
  border-radius: 12px;
  background: #000339;
  left: 0;
  top: -10px;
}

.stats .info .desc {
  width: 337px;
  margin-top: 21px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.stats .row-qty {
  margin-top: 118px;
  justify-content: space-between;
  padding: 0 35px;
}
.stats .qty-item .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .qty-item .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

/* ============ Subscription =========== */
.subscription .body {
  display: flex;
  position: relative;
  margin-top: 39px;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}
.subscription .info {
  padding: 0 80px;
  width: 670px;
}

.subscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5; /* 100% */
}

.subscription .info .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  opacity: 0.75;
}

.subscription .info .btn {
  color: #002366;
  margin-top: 20px;
  min-width: 150px;
  height: 50px;
  border-radius: 12px;
  background: #fff;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* ============ Footer =========== */
.footer {
  padding: 50px 0 58px;
  margin-top: 55px;
  /* background: #d47e7e; */
}
.footer .row {
  display: flex;
}
.footer .row-top {
  gap: 185px;
}
.footer .column .heading {
  color: #1c1c1d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.footer .column .list,
.footer .column .desc {
  margin-top: 42px;
}

.footer .column .item {
  margin-top: 21px;
}
.footer .column .item a,
.footer .column .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}
.footer .column .desc {
  white-space: normal;
  line-height: 1.75; /* 175% */
}
.footer .social {
  display: flex;
  margin-top: 40px;
}
.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background: #f9f9f9;
}
.footer .social-link + .social-link {
  margin-left: 16px;
}
.footer .social-link:hover {
  background: #ebebeb;
}
.footer .row-bottom {
  justify-content: space-between;
  margin-top: 81px;
  align-items: center;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
